:root{
    --roxo1:    #E0CFFC;
    --roxo2:    #C29FFA;
    --roxo3:    #A370F7;
    --roxo4:    #8540F5;
    --roxo5:    #6610F2;
    --roxo6:    #520DC2;
    --roxo7:    #0d192b;
    --roxo8:    #290661;
    --roxo9:    #140330;

    --tema1:  #07f9a2 ;
    --tema2:  #09c184 ;
    --tema3:  #0a8967 ;
    --tema4:  #0c5149 ;
    --tema5:  #0d192b ;
}
